:root {
  --mainColor: #eaeaea;
  --secondaryColor: #f5f5f5;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;

  --themeDotBorder: #24292e;

  --previewBg: rgb(209, 209, 209, 0.8);
  --previewShadow: #d1d1d1;

  --buttonColor: black;
}

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--mainColor);
}

body * {
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
strong {
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: 'Roboto Mono', monospace;
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

ul {
  float: left;
  margin-left: 5%;
}

.socialtop {
  float: right;
  margin-right: 2%;
}

.top-social {
  padding: 14px 15px;
}

.top-social a {
  padding: 13px;
  color: #000000;
  transition: 0.1s;
}

.top-social a:hover {
  color: #03a9f4;
  transition: 0.2s;
}

#webDevDuffy {
  /* display: inline-block; */
  height: 44.5px;
  width: 132.75px;
  margin: 15px 0 0 15px;
  /* padding: 15px 0 0 15px; */
}

nav {
  height: 100px;
  width: 100%;
}

#logo {
  grid-column: 2/3;
  font-size: 24px;
}

#mcmurdo {
  background-image: url();
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
}

.s2 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  margin-top: 10%;
}

.main-container {
  text-align: center;
  margin: 25px auto 50px;
  overflow: hidden;
}

/* Social Icons */

.social-links {
  display: grid;
  padding: 2px 0;
}

#social_img {
  width: 90%;
  text-align: center;
}

.social-icons {
  padding: 10px 50px 0;
  font-size: 1.25em;
}

.icon {
  font-size: 5vh;
}

.fab {
  color: black;
}

#portfolio {
  padding-bottom: 75px;
}

.post-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  gap: 50px;
  margin: 0 10%;
  justify-content: center;
  padding-bottom: 50px;
}

.post {
  border: 1px solid var(--borderColor);
  -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

.thumbnail {
  width: 67%;
  height: 67%;
}

.post-preview {
  background-color: #fff;
  padding: 15px;
}

.post-preview a {
  color: #FF6B0D;
}

.post-preview a:hover {
  color: #03a9f4;
  transition: 0.5s;
}

.post-title {
  color: black;
  margin: 0;
}

.post-intro {
  color: #4D4545;
  font-size: 14px;
}

#devDuffy {
  font-size: 14px;
  text-align: center;
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}

#devDuffy:hover {
  color: #03a9f4;
  transition: 0.2s;
}

#smile {
  height: 125px;
  width: 125px;
  cursor: pointer;
}

#email {
  padding-top: 1%;
}

@media only screen and (max-width: 700px) {
  #webDevDuffy {
    display: none;
  }

  .socialtop {
    float: none;
    margin-right: 0;
  }

  nav {
    display: block;
    text-align: center;
  }
}