:root {
  --mainColor: #eaeaea;
  --secondaryColor: #f5f5f5;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;

  --themeDotBorder: #24292e;

  --previewBg: rgb(209, 209, 209, 0.8);
  --previewShadow: #d1d1d1;

  --buttonColor: black;
}

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--mainColor);
}

body * {
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: 'Roboto Mono', monospace;
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

ul {
  float: left;
  margin-left: 5%;
}

.socialtop {
  float: right;
  margin-right: 2%;
}

.top-social {
  padding: 14px 15px;
}

.top-social a {
  padding: 13px;
  color: #000000;
  transition: 0.1s;
}

.top-social a:hover {
  color: grey;
}

#webDevDuffy {
  /* display: inline-block; */
  height: 44.5px;
  width: 132.75px;
  margin: 15px 0 0 15px;
  /* padding: 15px 0 0 15px; */
}

nav {
  height: 100px;
  width: 100%;
}

#logo {
  grid-column: 2/3;
  font-size: 24px;
}

#mcmurdo {
  background-image: url();
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  /* overflow: hidden; */
}

.s2 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  /* overflow: hidden; */
  margin-top: 10%;
}

.main-container {
  /* width: 1200px; */
  text-align: center;
  margin: 25px auto 50px;
  overflow: hidden;
}

/* Social Icons */

.social-links {
  display: grid;
  padding: 2px 0;
}

#social_img {
  width: 90%;
  text-align: center;
  /* padding-right: 10em; */
}

.social-icons {
  padding: 10px 50px 0;
  font-size: 1.25em;
}

.icon {
  /* padding: 10px 15px; */
  font-size: 5vh;
}

.fab {
  color: black; /* All icons within the fa-stack are red by default. */
}

#portfolio {
  padding-bottom: 75px;
}

.post-wrapper {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, 320px); */
  /* grid-template-columns: 1fr 1fr; */
  grid-template-rows: 1fr;
  gap: 50px;
  margin: 0 10%;
  justify-content: center;
  padding-bottom: 50px;
}

.post {
  border: 1px solid var(--borderColor);
  -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

.post:hover {
  transform: translateY(-15px);
}

.thumbnail {
  /* display: block; */
  width: 67%;
  height: 67%;
  /* object-fit: cover; */
}

.post-preview {
  background-color: #fff;
  padding: 15px;
}

.post-title {
  color: black;
  margin: 0;
}

.post-intro {
  color: #4b5156;
  font-size: 14px;
}

#devDuffy {
  font-size: 14px;
  text-align: center;
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}

#smile {
  height: 125px;
  width: 125px;
  cursor: pointer;
}

#smile:hover {
  color: #afafaf;
  -moz-animation: spin 0.4s 1 linear;
  -o-animation: spin 0.4s 1 linear;
  -webkit-animation: spin 0.4s 1 linear;
  animation: spin 0.4s 1 linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

#email {
  padding-top: 1%;
}

@media only screen and (max-width: 700px) {
  #webDevDuffy {
    display: none;
  }
  .socialtop {
    float: none;
    margin-right: 0;
  }
  nav {
    display: block;
    text-align: center;
  }
}

/* @media only screen and (min-width: 650px) {
  .post-wrapper {
    margin: 0 10%;
  }
}

@media only screen and (min-width: 1000px) {
  .post-wrapper {
    margin: 0 15%;
  }
}

@media only screen and (min-width: 1400px) {
  .post-wrapper {
    margin: 0 20%;
  }
} */
